.FileTree {
  display: flex;
  min-width: 300px;
  background-color: #eaebeb;
  padding: 16px;
  overflow-y: scroll;
  overflow-x: scroll;
}

.wrap_file {
  ul {
    list-style: none;
    padding-inline-start: 25px;
  }
  .filename {
    cursor: pointer;
    margin-bottom: 8px;
    transition: all 0.10s linear;
    span {
      font-size: 14px;
    }
    &:hover {
      color: #714bbd;
      padding-left: 5px;
    }
  }
  .active {
    color: #714bbd;
  }
}
