.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: left;
  max-height: 100vh;
}

.App-header {
  background-color: #714bbd;
  display: flex;
  flex-direction: column;
  color: white;
  font-weight: bold;
  padding: 10px;

  h4 {
    margin: 0;
    font-size: 20px;
  }
  span {
    display: block;
    font-size: 12px;
    a {color: white;}
  }
}

.App-content {
  display: flex;
  flex-direction: row;
  flex: 1;
  height: 100%;
  color: #4e4e4e
}
