.FileContent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 500px;
  max-width: 500px;
  padding: 16px;
  .box {
    margin-bottom: 20px;
    background: #f8f9fa;
    padding: 15px;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  }
  .help {
    font-size: 15px;
    p{
      margin: 0 0 5px 0;
    }
  }
  .file {
    h3 {
      margin: 0 0 15px 0;
      padding-bottom: 5px;
      border-bottom: 1px solid #d4d4d5;
      color: #714bbd;
    }
    p {
      font-size: 14px;
      margin: 0 0 2px 0;
    }
    .meta {
      p {color:#9a9a9a;}
    }
  }
}
